flask-marshmallow
psycopg2-binary
transformers
flask-sqlalchemy
marshmallow-sqlalchemy
Flask==2.3.0
Werkzeug==2.3.7
flask_restful
peft
flask-bcrypt
flask-wtf
email_validator
flask-login
flask-mail
flask-mailing
beautifulsoup4
